{% extends "home/index.html" %}
{% load static %}

    {% block title %}
    <title>NextEdu Multipurpose Educational Html Template</title>
    {% endblock title %}

    {% block body %}
    <!-- Start Hero Area -->
    <section class="hero-section height-470" style="background-image:url({% static 'assets/images/about_us.png' %})" data-aos="fade-up">
        <div class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-hrader text-white text-center">
                            <h1 class="display-3">Lecturer Dashboard</h1>
                            <div class="page-breadcrumb">
                                <p><a class="text-white" href="#">Home</a> - Lecturer Dashboard</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
    <!-- Start Featured Section -->
    <section class="featured-section-3 section-ptb-3" data-aos="fade-up">
        <div class="featured-area-wrapper show_navigation_2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="load-more-button pt-60 mx-auto text-center" style="margin-bottom: 10rem;">
                            <a href="{% url 'portal:grading' %}" class="button_five">Grade A Course</a>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </section>
    <!-- End Featured Section -->
    {% endblock body %}