{% extends "home/index.html" %}
{% load static %}

{% block body %}
 <!-- Start Hero Area -->
 <section class="hero-section height-470" style="background-image:url({% static 'assets/images/about_us.png' %})" data-aos="fade-up">
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-hrader text-white text-center">
                        <h1 class="display-3" style="font-size: 2rem;">Course Registration</h1>
                        <div class="page-breadcrumb">
                            <!-- <p><a class="text-white" href="#">Home</a> - Register Course</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->
<!--Start Page -->
<div class="page-wrapper section-ptb-3" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <div class="section-title">
                    <h2>Register for course</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto section-pb border-bottom">
                <form method="post" class="search-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <select name="session" id="department" class="form-control" placeholder="Session" required>
                                <option value="">--select Session--</option>
                                {% if session %}
                                {% for sessions in session %}
                                <option value="{{ sessions.session }}">{{ sessions.session }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select name="semester" id="exam_year" class="form-control" placeholder="semester" required>
                                <option value="">--Select Semeter--</option>
                                <option value="1st">1st</option>
                                <option value="2nd">2nd</option>
                            </select>
                        </div>
                        
                        {% if courses %}
                        <div class="col-lg-12 text-center mx-auto">
                            <button type="submit" class="button_one" disabled>Register</button>
                        </div>
                        {% else %}
                        <div class="col-lg-12 text-center mx-auto">
                            <button type="submit" class="button_one">Register</button>
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if courses %}
    {% if courses == True %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="apply-wrapper">
                    <h2>Register Course</h2>
                    <form method="post" action="{% url 'portal:update_course' %}" class="contact-form apply_form bg_dark_9 p-5" style="text-align: center;">
                        {% csrf_token %}

                        {% if old_courses %}
                        {% for course in old_courses %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="course_code">{{ course.name }} ({{ course.code }}) - {{ course.credit_load }}</label>
                                    <input type="checkbox" id="course_code" class="form-control" name="{{ course.name }}" value="{{ course.code }}" checked style="height: 2rem;" disabled>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if already_registered %}
                        {% for course in already_registered %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="course_code">{{ course.name }} ({{ course.code }}) - {{ course.credit_load }}</label>
                                    <input type="checkbox" id="course_code" class="form-control" name="{{ course.name }}" value="{{ course.code }}" checked style="height: 2rem;">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if not_registered %}
                        {% for course in not_registered %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="user_last_name">{{ course.name }} ({{ course.code }}) - {{ course.credit_load }}</label>
                                    <input type="checkbox" class="form-control" name="{{ course.name }}" value="{{ course.code }}" style="width: 2rem; height: 2rem;">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="row" style="margin-top: 1.5rem;">
                            <div class="col-md-12 mx-auto text-center">
                                <button type="submit" class="button_one mt-10">Update Courses</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1.5rem;">
                            <div class="col-md-12 mx-auto text-center">
                                <a href="{% url 'portal:student_dashboard' %}" class="button_one mt-4">Go Back!</a>
                            </div>
                        </div>
                    </form>
                    <p class="form-message"></p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="apply-wrapper">
                    <h2>Course registration closed for {{ semester }} Semester of {{ session }} Seesion</h2>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
<!-- End Page -->

{% endblock body %}
