{% extends "home/index.html" %}
{% load static %}

    {% block title %}
    <title>EUCRS ePortal | Student Dashboard</title>
    {% endblock title %}

    {% block body %}
    <!-- Start Hero Area -->
    <section class="hero-section height-470" style="background-image:url({% static 'assets/images/about_us.png' %})" data-aos="fade-up">
        <div class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-hrader text-white text-center">
                            <h1 class="display-3" style="font-size: 2rem;">Student Dashboard</h1>
                            <div class="page-breadcrumb">
                                <!-- <p><a class="text-white" href="#">Home</a> - Student Dashboard</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
    <!-- Start Featured Section -->
    <section class="featured-section-3 section-ptb-3" data-aos="fade-up">
        <div class="featured-area-wrapper show_navigation_2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="load-more-button pt-60 mx-auto text-center" style="margin-bottom: 10rem;">
                            <a href="{% url 'portal:register_course' %}" class="button_five">Register Course</a>
                            <a href="{% url 'portal:check_result' %}" class="button_five">Result Checker</a>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </section>
    <!-- End Featured Section -->
    {% endblock body %}